.welcome-card{

    background:linear-gradient(135deg,#0F4C81,#3E92CC);

    color:white;

    border-radius:18px;

    padding:35px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.welcome-card h1{

    margin:0;

    font-size:34px;

}

.welcome-card p{

    margin-top:12px;

    opacity:.9;

}

.patient-info{

    display:flex;

    gap:40px;

}

.patient-info div{

    background:rgba(255,255,255,.15);

    padding:18px 22px;

    border-radius:12px;

    backdrop-filter:blur(10px);

}

.patient-info span{

    font-size:14px;

    opacity:.85;

}

.patient-info h3{

    margin-top:6px;

}